In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"RollNo": [1, 2, 3, 4],"Name": ["Abhijeet ", "Sakshi", "Harshad ", "Harshali"],"City": ["Pune", "Mumbai", "Nashik", "Bangalore"]})

In [3]:
df

   RollNo       Name       City
0       1  Abhijeet        Pune
1       2     Sakshi     Mumbai
2       3   Harshad      Nashik
3       4   Harshali  Bangalore

In [4]:
df.head(2)

   RollNo       Name    City
0       1  Abhijeet     Pune
1       2     Sakshi  Mumbai

In [5]:
df.tail(2)

   RollNo      Name       City
2       3  Harshad      Nashik
3       4  Harshali  Bangalore

In [6]:
df.shape

(4, 3)

In [7]:
df.columns

Index(['RollNo', 'Name', 'City'], dtype='object')

In [8]:
df["Name"]

0    Abhijeet
1       Sakshi
2     Harshad
3     Harshali
Name: Name, dtype: object

In [9]:
df[["RollNo", "City"]]

   RollNo       City
0       1       Pune
1       2     Mumbai
2       3     Nashik
3       4  Bangalore

In [10]:
df.loc[3]

RollNo            4
Name       Harshali
City      Bangalore
Name: 3, dtype: object

In [11]:
df.loc[1:3]

   RollNo      Name       City
1       2    Sakshi     Mumbai
2       3  Harshad      Nashik
3       4  Harshali  Bangalore

In [12]:
df.dtypes

RollNo     int64
Name      object
City      object
dtype: object

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RollNo  4 non-null      int64
 1   Name    4 non-null      object
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [14]:
df.describe()

         RollNo
count  4.000000
mean   2.500000
std    1.290994
min    1.000000
25%    1.750000
50%    2.500000
75%    3.250000
max    4.000000

In [15]:
df.loc[0:3]

   RollNo       Name       City
0       1  Abhijeet        Pune
1       2     Sakshi     Mumbai
2       3   Harshad      Nashik
3       4   Harshali  Bangalore

In [16]:
df.loc[1:2]

   RollNo      Name    City
1       2    Sakshi  Mumbai
2       3  Harshad   Nashik

In [17]:
df.iloc[0]

RollNo            1
Name      Abhijeet
City           Pune
Name: 0, dtype: object

In [18]:
df.loc[[0]]

   RollNo       Name  City
0       1  Abhijeet   Pune

In [20]:
df = pd.read_csv("FAOSTAT_data_2017-2026.csv")

In [21]:
df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Release,Unit,Value,Flag,Flag Description
0,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6205,Value,70041,"Cost of a healthy diet (CoHD), LCU per person ...",2017,2017,July 2025 (SOFI report),LCU/cap/d,97.34,E,Estimated value
1,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6205,Value,70041,"Cost of a healthy diet (CoHD), LCU per person ...",2018,2018,July 2025 (SOFI report),LCU/cap/d,99.49,E,Estimated value
2,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6205,Value,70041,"Cost of a healthy diet (CoHD), LCU per person ...",2019,2019,July 2025 (SOFI report),LCU/cap/d,109.92,E,Estimated value
3,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6205,Value,70041,"Cost of a healthy diet (CoHD), LCU per person ...",2020,2020,July 2025 (SOFI report),LCU/cap/d,126.96,E,Estimated value
4,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6205,Value,70041,"Cost of a healthy diet (CoHD), LCU per person ...",2021,2021,July 2025 (SOFI report),LCU/cap/d,140.33,E,Estimated value
5,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6205,Value,70041,"Cost of a healthy diet (CoHD), LCU per person ...",2022,2022,July 2025 (SOFI report),LCU/cap/d,174.55,E,Estimated value
6,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6205,Value,70041,"Cost of a healthy diet (CoHD), LCU per person ...",2023,2023,July 2025 (SOFI report),LCU/cap/d,241.77,E,Estimated value
7,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6205,Value,70041,"Cost of a healthy diet (CoHD), LCU per person ...",2024,2024,July 2025 (SOFI report),LCU/cap/d,256.13,E,Estimated value
8,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6226,Value,70040,"Cost of a healthy diet (CoHD), PPP dollar per ...",2017,2017,July 2025 (SOFI report),Int$ (PPP) per person per day,2.97,E,Estimated value
9,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6226,Value,70040,"Cost of a healthy diet (CoHD), PPP dollar per ...",2018,2018,July 2025 (SOFI report),Int$ (PPP) per person per day,2.91,E,Estimated value
10,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6226,Value,70040,"Cost of a healthy diet (CoHD), PPP dollar per ...",2019,2019,July 2025 (SOFI report),Int$ (PPP) per person per day,2.95,E,Estimated value
11,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6226,Value,70040,"Cost of a healthy diet (CoHD), PPP dollar per ...",2020,2020,July 2025 (SOFI report),Int$ (PPP) per person per day,3.18,E,Estimated value
12,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6226,Value,70040,"Cost of a healthy diet (CoHD), PPP dollar per ...",2021,2021,July 2025 (SOFI report),Int$ (PPP) per person per day,3.30,E,Estimated value
13,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6226,Value,70040,"Cost of a healthy diet (CoHD), PPP dollar per ...",2022,2022,July 2025 (SOFI report),Int$ (PPP) per person per day,3.70,E,Estimated value
14,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6226,Value,70040,"Cost of a healthy diet (CoHD), PPP dollar per ...",2023,2023,July 2025 (SOFI report),Int$ (PPP) per person per day,4.08,E,Estimated value
15,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6226,Value,70040,"Cost of a healthy diet (CoHD), PPP dollar per ...",2024,2024,July 2025 (SOFI report),Int$ (PPP) per person per day,3.95,E,Estimated value
16,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6205,Value,70071,"Cost of starchy staples, LCU per person per day",2021,2021,July 2025 (SOFI report),LCU/cap/d,19.15,E,Estimated value
17,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6226,Value,70070,"Cost of starchy staples, PPP dollar per person...",2021,2021,July 2025 (SOFI report),Int$ (PPP) per person per day,0.45,E,Estimated value
18,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6205,Value,70081,"Cost of animal source foods, LCU per person pe...",2021,2021,July 2025 (SOFI report),LCU/cap/d,46.11,E,Estimated value
19,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6226,Value,70080,"Cost of animal source foods, PPP dollar per pe...",2021,2021,July 2025 (SOFI report),Int$ (PPP) per person per day,1.08,E,Estimated value
20,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6205,Value,70091,"Cost of legumes, nuts and seeds, LCU per perso...",2021,2021,July 2025 (SOFI report),LCU/cap/d,14.04,E,Estimated value
21,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6226,Value,70090,"Cost of legumes, nuts and seeds, PPP dollar pe...",2021,2021,July 2025 (SOFI report),Int$ (PPP) per person per day,0.33,E,Estimated value
22,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6205,Value,70101,"Cost of vegetables, LCU per person per day",2021,2021,July 2025 (SOFI report),LCU/cap/d,16.58,E,Estimated value
23,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6226,Value,70100,"Cost of vegetables, PPP dollar per person per day",2021,2021,July 2025 (SOFI report),Int$ (PPP) per person per day,0.39,E,Estimated value
24,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6205,Value,70111,"Cost of fruits, LCU per person per day",2021,2021,July 2025 (SOFI report),LCU/cap/d,32.77,E,Estimated value
25,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6226,Value,70110,"Cost of fruits, PPP dollar per person per day",2021,2021,July 2025 (SOFI report),Int$ (PPP) per person per day,0.77,E,Estimated value
26,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6205,Value,70121,"Cost of oils and fats, LCU per person per day",2021,2021,July 2025 (SOFI report),LCU/cap/d,11.68,E,Estimated value
27,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6226,Value,70120,"Cost of oils and fats, PPP dollar per person p...",2021,2021,July 2025 (SOFI report),Int$ (PPP) per person per day,0.27,E,Estimated value
28,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6121,Value,7005,"Prevalence of unaffordability (PUA), percent",2017,2017,July 2025 (SOFI report),%,58.60,E,Estimated value
29,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6121,Value,7005,"Prevalence of unaffordability (PUA), percent",2018,2018,July 2025 (SOFI report),%,57.30,E,Estimated value
30,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6121,Value,7005,"Prevalence of unaffordability (PUA), percent",2019,2019,July 2025 (SOFI report),%,58.70,E,Estimated value
31,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6121,Value,7005,"Prevalence of unaffordability (PUA), percent",2020,2020,July 2025 (SOFI report),%,61.00,E,Estimated value
32,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6121,Value,7005,"Prevalence of unaffordability (PUA), percent",2021,2021,July 2025 (SOFI report),%,59.40,E,Estimated value
33,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6121,Value,7005,"Prevalence of unaffordability (PUA), percent",2022,2022,July 2025 (SOFI report),%,59.30,E,Estimated value
34,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6121,Value,7005,"Prevalence of unaffordability (PUA), percent",2023,2023,July 2025 (SOFI report),%,63.80,E,Estimated value
35,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6121,Value,7005,"Prevalence of unaffordability (PUA), percent",2024,2024,July 2025 (SOFI report),%,60.30,E,Estimated value
36,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6132,Value,7006,Number of people unable to afford a healthy di...,2017,2017,July 2025 (SOFI report),million No,130.90,E,Estimated value
37,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6132,Value,7006,Number of people unable to afford a healthy di...,2018,2018,July 2025 (SOFI report),million No,130.10,E,Estimated value
38,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6132,Value,7006,Number of people unable to afford a healthy di...,2019,2019,July 2025 (SOFI report),million No,135.50,E,Estimated value
39,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6132,Value,7006,Number of people unable to afford a healthy di...,2020,2020,July 2025 (SOFI report),million No,143.20,E,Estimated value
40,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6132,Value,7006,Number of people unable to afford a healthy di...,2021,2021,July 2025 (SOFI report),million No,142.20,E,Estimated value
41,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6132,Value,7006,Number of people unable to afford a healthy di...,2022,2022,July 2025 (SOFI report),million No,144.40,E,Estimated value
42,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6132,Value,7006,Number of people unable to afford a healthy di...,2023,2023,July 2025 (SOFI report),million No,157.90,E,Estimated value
43,CAHD,Cost and Affordability of a Healthy Diet (CoAHD),586,Pakistan,6132,Value,7006,Number of people unable to afford a healthy di...,2024,2024,July 2025 (SOFI report),million No,151.40,E,Estimated value

In [22]:
df.describe()

,Area Code (M49),Element Code,Item Code,Year Code,Year,Value
count,44.0,44.000000,44.000000,44.000000,44.000000,44.000000
mean,586.0,6183.136364,47133.681818,2020.636364,2020.636364,68.889773
std,0.0,44.256436,30684.757736,1.989401,1.989401,69.505641
min,586.0,6121.000000,7005.000000,2017.000000,2017.000000,0.270000
25%,586.0,6132.000000,7006.000000,2019.000000,2019.000000,3.600000
50%,586.0,6205.000000,70040.000000,2021.000000,2021.000000,58.650000
75%,586.0,6226.000000,70070.250000,2022.000000,2022.000000,130.300000
max,586.0,6226.000000,70121.000000,2024.000000,2024.000000,256.130000

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       44 non-null     object
 1   Domain            44 non-null     object
 2   Area Code (M49)   44 non-null     int64
 3   Area              44 non-null     object
 4   Element Code      44 non-null     int64
 5   Element           44 non-null     object
 6   Item Code         44 non-null     int64
 7   Item              44 non-null     object
 8   Year Code         44 non-null     int64
 9   Year              44 non-null     int64
 10  Release           44 non-null     object
 11  Unit              44 non-null     object
 12  Value             44 non-null     float64
 13  Flag              44 non-null     object
 14  Flag Description  44 non-null     object
dtypes: float64(1), int64(5), object(9)
memory usage: 5.3+ KB

In [24]:
df.isnull()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Release,Unit,Value,Flag,Flag Description
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [25]:
df.isnull().sum()

Domain Code         0
Domain              0
Area Code (M49)     0
Area                0
Element Code        0
Element             0
Item Code           0
Item                0
Year Code           0
Year                0
Release             0
Unit                0
Value               0
Flag                0
Flag Description    0
dtype: int64

In [26]:
df["Age"].fillna(df["Age"].mean(), inplace=True)

KeyError: 'Age'